/* custom-mermaid-theme.css */

.mermaid-theme-custom {
  --primary-color: #BB2528;
  --primary-text-color: #ABA89A;
  --primary-border-color: #000000;
  --line-color: #F8B229;
  --secondary-color: #006100;
  --tertiary-color: #fff;
}
